
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 235, 216);
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgb(116, 140, 171);
    justify-content: center;
}

header {
    color: rgb(240, 235, 216);
    background-color: rgb(29, 45, 68);
    width: 100%;
    line-height: 20px;
    box-shadow: 10px 5px 20px rgb(62, 92, 118);
}

header h1 {
    float: left;
    text-align: center;
}

nav {
    overflow: hidden;
}

nav a {
    float: right;
    color: rgb(240, 235, 216);
    font-weight: bold;
    padding: 21px 8px;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    background-color: rgb(62, 92, 118);
    box-shadow: 2px 2px 15px black;
}

figure img {
    border: solid;
    border-color: black;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(29, 45, 68);
}

.aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2px;
}

.projectcard {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(29, 45, 68);
    color:rgb(240, 235, 216);
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 50vh;
    height: 50vh;
    box-shadow: 2px 2px 10px rgb(29, 45, 68); 
    margin: 20px;
}

.projectcard img {
    height:75%;
    width: 90%;
}

.projectcard:hover {
    box-shadow: 10px 10px 10px rgb(29, 45, 68);
    cursor: pointer;
}

.firstprojectcard {
    width: 100vh;
}

@media screen and (max-width: 992px) {
    .projects {
        width: 100vh; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .firstprojectcard {
        width: 50vh;
    }
}

@media screen and (max-width: 768px) {
    
    body {
        font-size: 15px;
    }

    .projects {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .projectcard {
        width: 40vh;
        height: 40vh;
    }
 

}